DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<db_name>
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
GROQ_API_KEY=
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
N8N_ENCRYPTION_KEY=