fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.2
pydantic-settings==2.3.3
python-dotenv==1.0.1
python-multipart==0.0.9
email-validator>=2.0.0
beautifulsoup4==4.12.3
openai==1.30.3
httpx>=0.26.0
h2==4.1.0
requests==2.31.0

# Database Stack
sqlmodel==0.0.22
psycopg2-binary==2.9.9

# Auth Stack
bcrypt==4.2.0
pyjwt[crypto]==2.10.1